.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: #183785;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.tetromino {
    /* background-color: blue; */
    border-radius: 5px;
    /* -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 31px -31px 25px -3px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 31px -31px 25px -3px rgba(0,0,0,0); */
}

.mini-grid {
    width: 80px;
    height: 80px;
    background-color: #183785;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}

.zero {
    background-color: #fbda1d;
}

.one {
    background-color: #f78303;
}

.two {
    background-color: #3dc932;
}

.three {
    background-color: #46cdff;
}

.four {
    background-color: #eb0045;
}

.the-end {
    color: white;
    font-size: 13px;
}
